<ul>
    {% for specimen in specimenCollection %}
        <li>Rating: {{ specimen.evaluation.mainFitness }} Genotype: {% include genotypeTemplatePath with genotypeParameters|merge({genotype: specimen.genotype }) %}</li>
    {% endfor %}
</ul>