<ul>
    {% for specimen in specimenCollection %}
        <li>Rating: {{ specimen.evaluation.mainFitness }} Genotype: {% include templateProvider.getTemplateForObject(specimen.genotype) with {genotype: specimen.genotype, templateProvider: templateProvider } %}</li>
    {% endfor %}
</ul>