<form method="post" action="{{ path('evolutionary_algorithm_tournament_run_delete', {'id': tournament_run.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ tournament_run.id) }}">
    <button class="btn btn-danger">Delete</button>
</form>
