{% extends 'base.html.twig' %}

{% block title %}Edit TournamentRun{% endblock %}

{% block main %}
    <h1>Edit TournamentRun</h1>

    {{ include('@EvolutionaryAlgorithm/tournament_run/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('evolutionary_algorithm_tournament_run_index') }}">back to list</a>

    {{ include('@EvolutionaryAlgorithm/tournament_run/_delete_form.html.twig') }}
{% endblock %}
