{% extends 'base.html.twig' %}
{% trans_default_domain 'EvolutionaryAlgorithmBundle' %}
{% block title %}TournamentRun index{% endblock %}

{% block body %}
    <h1>TournamentRun index</h1>
    <p>{{ 'tournament_run.index.help_text'|trans }}</p>
    {{ include('@EvolutionaryAlgorithm/tournament_run/table.html.twig') }}

    <a href="{{ path('evolutionary_algorithm_tournament_run_new') }}">Create new</a>
{% endblock %}
