{% extends 'base.html.twig' %}

{% block title %}TournamentRun{% endblock %}

{% block body %}
    <h1>TournamentRun</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ tournament_run.id }}</td>
                <th>Specimens</th>
                {# Next step will be to remove the hard-coded parts and make this self-adjusting to different types of problems #}
                <td>{% include '@EvolutionaryAlgorithm/_includes/ea_themes/default/specimen/specimen_collection.html.twig' with
                        {
                            specimenCollection: tournament_run.specimenCollection,
                            genotypeTemplatePath: '@EvolutionaryAlgorithm/_includes/ea_themes/default/genotype/symbol_array_genotype.html.twig',
                            genotypeParameters: {
                                symbolTemplatePath: '@EvolutionaryAlgorithm/_includes/ea_themes/default/genotype/symbol/simple_symbol.html.twig'
                            }
                        }
                    %}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('evolutionary_algorithm_tournament_run_index') }}">back to list</a>

    <a href="{{ path('evolutionary_algorithm_tournament_run_edit', {'id': tournament_run.id}) }}">edit</a>

    {{ include('@EvolutionaryAlgorithm/tournament_run/_delete_form.html.twig') }}
{% endblock %}
