{% extends 'base.html.twig' %}

{% block title %}New TournamentConfiguration{% endblock %}

{% block body %}
    <h1>Create new TournamentConfiguration</h1>

    {{ include('@EvolutionaryAlgorithm/tournament_configuration/_form.html.twig') }}

    <a href="{{ path('evolutionary_algorithm_tournament_configuration_index') }}">back to list</a>
{% endblock %}
