<form method="post" action="{{ path('evolutionary_algorithm_problem_instance_delete', {'id': problem_instance.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ problem_instance.id) }}">
    <button class="btn">Delete</button>
</form>
