{% extends 'base.html.twig' %}

{% block title %}Edit ProblemInstance{% endblock %}

{% block main %}
    <h1>Edit ProblemInstance</h1>

    {{ include(form_template, {'button_label': 'Update'}) }}

    <a href="{{ path('evolutionary_algorithm_problem_instance_index') }}">back to list</a>

    {{ include('@EvolutionaryAlgorithm/problem_instance/_delete_form.html.twig') }}
{% endblock %}
