{% extends 'base.html.twig' %}

{% block title %}Edit TournamentType{% endblock %}

{% block main %}
    <h1>Edit TournamentType</h1>

    {{ include('@EvolutionaryAlgorithm/tournament_type/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('evolutionary_algorithm_tournament_type_index') }}">back to list</a>

    {{ include('@EvolutionaryAlgorithm/tournament_type/_delete_form.html.twig') }}
{% endblock %}
